<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://${TSAB.DB.HOST}</property>
		<property name="connection.username">${TSAB.DB.USERNAME}</property>
		<property name="connection.password">${TSAB.DB.PASSWORD}</property>

		<!-- JDBC connection pool (use the built-in)
		<property name="connection.pool_size">10</property>
 -->
 
		<!-- configuration pool via c3p0--> 
		<property name="hibernate.c3p0.acquire_increment">1</property> 
		<property name="hibernate.c3p0.idle_test_period">100</property> 
		<property name="hibernate.c3p0.max_size">100</property> 
		<property name="hibernate.c3p0.max_statements">0</property> 
		<property name="hibernate.c3p0.min_size">10</property> 
		<property name="hibernate.c3p0.timeout">100</property> 


		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

<!--		<property name="hibernate.transaction.manager_lookup_class"></property>
	    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
    	<property name="jta.UserTransaction">java:comp/UserTransaction</property>
-->
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

<!--
		<property name="hibernate.id.new_generator_mappings">true</property>
-->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="ee.ioc.phon.tsab.domain.Category" />
		<mapping class="ee.ioc.phon.tsab.domain.Transcription" />
		<mapping class="ee.ioc.phon.tsab.domain.TranscriptionFragment" />

	</session-factory>

</hibernate-configuration>